<!-- https://bootsnipp.com/snippets/dldxB -->

<form [formGroup]="myFormGroup">
  <div class="wrapper">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first start">
        <a>Login</a>
      </div>

      <!-- Login Form -->
      <input
        type="text"
        id="login"
        formControlName="login"
        class="fadeIn second"
        (blur)="checkCredentials()"
        placeholder="login"
      />
      <input
        type="text"
        id="password"
        formControlName="password"
        class="fadeIn third"
        (blur)="checkCredentials()"
        placeholder="password"
      />
      <button
        class="blueButton"
        (click)="onBtnClick()"
        [disabled]="btnDisabled"
      >
        Log In
      </button>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" (click)="showTheHint()" href="#">{{
          showOrHide
        }}</a>
      </div>
      <h1 *ngIf="show">admin</h1>
    </div>
  </div>
</form>
