<!-- https://bootsnipp.com/snippets/dldxB -->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first start">
      <a>Login</a>
    </div>

    <!-- Login Form -->
    <form>
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="login"
        placeholder="login"
      />
      <input
        type="text"
        id="password"
        class="fadeIn third"
        name="login"
        placeholder="password"
      />
      <button
        class="blueButton"
        (click)="onBtnClick()"
        [disabled]="btnDisabled"
      >
        Log In
      </button>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" (click)="showTheHint()" href="#">{{
        showOrHide
      }}</a>
    </div>
    <h1 *ngIf="show">admin</h1>
  </div>
</div>
